---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Timeline from '~/components/ui/Timeline.astro';
import Headline from '~/components/ui/Headline.astro';
import Image from '~/components/common/Image.astro';
import type { Steps as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  items = [],
  image = await Astro.slots.render('image'),
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  isReversed = false,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-5xl ${classes?.container ?? ''}`} bg={bg}>
  <!-- Cancel out WidgetWrapper's top/bottom padding -->
  <div class="-mt-0 md:-mt-16 lg:-mt-20 -mb-20 md:-mb-16 lg:-mb-20">
    <div class="flex flex-col gap-8 md:gap-12 md:flex-row items-stretch">
      <!-- Text column -->
      <div id="text-column" class="md:basis-1/2 flex flex-col justify-center">
        <Headline
          title={title}
          subtitle={subtitle}
          tagline={tagline}
          classes={{
            container: 'text-left rtl:text-right',
            title: 'text-3xl lg:text-4xl',
            ...((classes?.headline as object) ?? {}),
          }}
        />

        <!-- Mobile-only image (below subtitle) -->
        {
          image && (
            <div class="block md:hidden mb-6">
              <Image
                class="w-full h-auto object-cover rounded-md shadow-lg bg-gray-400 dark:bg-slate-700"
                src={typeof image === 'string' ? image : image?.src}
                alt={typeof image === 'string' ? '' : image?.alt || ''}
                sizes="(max-width: 768px) 100vw"
                widths={[400, 768]}
              />
            </div>
          )
        }

        <Timeline items={items} classes={classes?.items as Record<string, never>} />
      </div>

      <!-- Desktop-only image column -->
      {
        image && (
          <div id="image-column" class="hidden md:flex md:basis-1/2">
            <div class="w-full">
              <Image
                class="w-full h-full scale-[0.8] object-cover rounded-md shadow-lg bg-gray-400 dark:bg-slate-700"
                src={typeof image === 'string' ? image : image?.src}
                alt={typeof image === 'string' ? '' : image?.alt || ''}
                sizes="(max-width: 768px) 100vw, 432px"
                widths={[400, 768]}
              />
            </div>
          </div>
        )
      }
    </div>
  </div>
</WidgetWrapper>
